*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main_bar{
    background-color: #081621;
    text-align: center;
    position: sticky;
    top: 0;
}
#main_bar a{
    font-size: 16px;
    text-decoration: none;

    color: #FFFFFF;
    display: inline-block;
    padding: 10px;
}
#product_img{
    background-color:;
    width: 500px;
    
    position: relative;
    left: 20%;
}
#product_img img{
    width=100%
}
#overlay{
    position: absolute;
    top: 50%;
    left: 60%;
    background-color: #85929E;
    transform: scaleX(0);
    transition: 0.3s;
    
}
#product_img:hover #overlay{
    transform: scaleX(1);
}
button{
    background-color: #CB4335;
    color: #ffffff;
    position: fixed;
    padding: 5px;
    border-radius: 9px;
    font-size: 20px;
    border: none;
    right: 0;
    bottom: 0;
    margin: 0 5px 9px 0;
}
p{
    font-size: 20px;
}